<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<body>
  <div class="container">
  <form action="/bookmarks/<%= @bookmark.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH" />
    <label for="URL">URL:</label>
    <input type="text" name="url" value="<%= @bookmark.url %>" />
    <label for="title">Title:</label>
    <input type="text" name="title" value="<%= @bookmark.title %>" />
    <input class="waves-effect waves-light btn"type="submit" value="Submit" />
  </form>
  </div>
</body>
